<div class="mini-calendario">

    <div class="mini-header">
      <span>{{ nombreMes }} {{ anio }}</span>
      <button (click)="irACalendario()">Ver</button>
    </div>
  
    <div class="dias-semana">
      <span *ngFor="let d of diasSemana">{{ d }}</span>
    </div>
  
    <div class="dias-mes">
      <span
  *ngFor="let dia of dias"
  class="dia"
  [class.hoy]="dia.esHoy"
  [class.partido]="dia.tipo === 'partido'"
  [class.entrenamiento]="dia.tipo === 'entrenamiento'"
  [class.reunion]="dia.tipo === 'reunion'"
  [class.otro]="dia.tipo === 'otro'"
  [class.clickable]="dia.tieneEvento"
  (click)="abrirDetalleDia($event, dia)"
>
  {{ dia.numero }}
</span>

    
    </div>

    <div class="mini-leyenda">

      <div class="item">
        <span class="dot partido"></span>
        <span>Partido</span>
      </div>
    
      <div class="item">
        <span class="dot entrenamiento"></span>
        <span>Entrenamiento</span>
      </div>
    
      <div class="item">
        <span class="dot reunion"></span>
        <span>Reunión</span>
      </div>
    
      <div class="item">
        <span class="dot otro"></span>
        <span>Otro</span>
      </div>
    
      <div class="item">
        <span class="dot hoy"></span>
        <span>Hoy</span>
      </div>
    
    </div>
    
      
  
  </div>
  