<div class="mini-calendario">

    <div class="mini-header">
      <span>{{ nombreMes }} {{ anio }}</span>
      <button (click)="irACalendario()">Ver</button>
    </div>
  
    <div class="dias-semana">
      <span *ngFor="let d of diasSemana">{{ d }}</span>
    </div>
  
    <div class="dias-mes">
      <span
        *ngFor="let dia of dias"
        class="dia"
        [class.hoy]="dia.esHoy"
        [class.evento]="dia.hayEvento"
        [class.convocatoria]="dia.hayConvocatoria"
        [class.ambos]="dia.hayEvento && dia.hayConvocatoria">
        {{ dia.numero }}
      </span>
    </div>

    <div class="mini-leyenda">
        <div class="item">
          <span class="dot evento"></span>
          <span>Evento</span>
        </div>
      
        <div class="item">
          <span class="dot convocatoria"></span>
          <span>Convocatoria</span>
        </div>
      
        <div class="item">
          <span class="dot ambos"></span>
          <span>Ambos</span>
        </div>
      
        <div class="item">
          <span class="dot hoy"></span>
          <span>Hoy</span>
        </div>
      </div>
      
  
  </div>
  