<div class="header">
  <div class="logo">
    <img src="logo.png" alt="Logo Club" />
    <span>ClubFútbol Control</span>
  </div>

  <nav class="nav-tabs">
    <a routerLink="/home" routerLinkActive="active">Inicio</a>
    <a routerLink="/entrenador" routerLinkActive="active">Equipos</a>
  
    <a *ngIf="authService.hasRole('entrenador')" 
       routerLink="/register" 
       routerLinkActive="active">Registrar</a>
  
    <a *ngIf="authService.hasRole('admin')" 
       routerLink="/admin" 
       routerLinkActive="active">Administrar</a>
  
    <a *ngIf="authService.hasRole('tutor')" 
       routerLink="/tutor-panel" 
       routerLinkActive="active">
       Mis jugadores
    </a>

    <a
    *ngIf="authService.hasRole('admin')"
    routerLink="/clubes"
    routerLinkActive="active">
    Clubes
    </a>
  </nav>
  

  <a class="profile" [routerLink]="['/perfil']">
    <img [src]="profileImage" alt="Perfil" />
  </a>
</div>
