<app-header></app-header>
<div class="panel-container">
  <!-- Registrar dependiente -->
  <div class="card">
    <h3>Registrar Jugador</h3>

    <form [formGroup]="dependentForm" (ngSubmit)="registerDependent()">
      <label for="dni">DNI</label>
      <input id="dni" type="text" formControlName="DNI" maxlength="9" />

      <div
        class="error"
        *ngIf="dependentForm.get('DNI')?.invalid && dependentForm.get('DNI')?.touched"
      >
        <small *ngIf="dependentForm.get('DNI')?.errors?.['required']">El DNI es obligatorio.</small>
        <small *ngIf="dependentForm.get('DNI')?.errors?.['pattern']"
          >Formato inválido: 8 dígitos y una letra.</small
        >
      </div>

      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" formControlName="nombre" />

      <label for="anioNacimiento">Año de nacimiento</label>
      <input id="anioNacimiento" type="number" formControlName="anioNacimiento" />

      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />

      <label for="telefono">Teléfono</label>
      <input id="telefono" type="text" formControlName="telefono" />

      <div
        class="error"
        *ngIf="dependentForm.get('telefono')?.invalid && dependentForm.get('telefono')?.touched"
      >
        <small *ngIf="dependentForm.get('telefono')?.errors?.['required']"
          >El teléfono es obligatorio.</small
        >
        <small *ngIf="dependentForm.get('telefono')?.errors?.['pattern']"
          >Debe tener 9 números.</small
        >
      </div>

      <label>Contraseña</label>
      <input formControlName="password" type="password" />

      <button type="submit">Registrar</button>
    </form>
  </div>

  <!-- Lista de dependientes -->
  <div class="card">
    <h3>Jugadores asociados</h3>

    <div *ngFor="let dependent of dependents" class="dependiente-card">
      <p>
        <strong>{{ dependent.nombre }}</strong>
      </p>
      <p>DNI: {{ dependent.DNI }}</p>
      <p>Email: {{ dependent.email }}</p>
      <p>Teléfono: {{ dependent.telefono }}</p>

      <button (click)="removeLink(dependent.DNI)">Quitar vínculo</button>
    </div>
  </div>
</div>
