.content { 
    display:flex; 
    flex-direction:column;
     gap:12px;  
}

.full { 
    width:100%; 
}

.row { 
    display:flex; 
    justify-content:space-between; 
    align-items:center; 
}

:host ::ng-deep .mat-mdc-dialog-content mat-form-field {
    margin-top: 22px;
  }
