<app-header></app-header>

<div class="equipos-wrapper">

  <h2 class="section-title">Equipos del Club</h2>

  <!-- FORMULARIO NUEVO EQUIPO -->
  <div class="panel-card nuevo-equipo-form">
    <h3>Crear nuevo equipo</h3>

    <div class="form-group">
      <input type="text"
             placeholder="Nombre del equipo (Alevín B, Cadete A...)"
             [(ngModel)]="nuevoEquipo.nombre">
    </div>

    <div class="form-group">
      <select [(ngModel)]="nuevoEquipo.categoria_id">
        <option [ngValue]="null" disabled selected>
          Seleccionar categoría...
        </option>
        <option *ngFor="let cat of categorias" [value]="cat.id">
          {{ cat.nombre }}
        </option>
      </select>
    </div>

    <button class="cambiar primary" (click)="crearEquipo()">Crear equipo</button>

    <p class="form-message" *ngIf="mensaje">{{ mensaje }}</p>
  </div>

  <h3 class="subsection-title">Equipos registrados</h3>

<div class="categoria-card"
     *ngFor="let grupo of equiposPorCategoria">

  <!-- CABECERA CATEGORÍA -->
  <div class="categoria-header clickable"
     (click)="categoriaAbierta = categoriaAbierta === grupo.categoria ? null : grupo.categoria">

  <div class="categoria-title">
    <span class="arrow"
          [class.open]="categoriaAbierta === grupo.categoria">
      ▶
    </span>

    <h4>{{ grupo.categoria }}</h4>
  </div>

  <span class="contador">
    {{ grupo.equipos.length }} equipos
  </span>
</div>

  <!-- LISTA EQUIPOS -->
  <div class="categoria-content"
       *ngIf="categoriaAbierta === grupo.categoria">

    <div class="equipo-card clickable"
         *ngFor="let eq of grupo.equipos"
         (click)="abrirEquipo(eq.id)">

      <div class="info-group">
        <h4>{{ eq.nombre }}</h4>
        <p class="meta">
          <span class="meta-item">Temporada: {{ eq.temporada }}</span>
        </p>
      </div>

      <button class="delete-btn"
              (click)="eliminarEquipo(eq.id); $event.stopPropagation()">
        Eliminar
      </button>

    </div>

  </div>

</div>
