<div class="register-container">
  
  <div class="register-image">
    <img src="imagen-login.jpg" alt="Imagen de registro" />
  </div>
  
    <div class="register-form-container">
      <div class="register-message">
        <h2>Registro de Usuario</h2>
        <p>Registra a los usuarios del club</p>
      </div>
  
      <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" class="register-form">
        <label for="dni">DNI</label>
        <input id="dni" type="text" formControlName="DNI" />
        
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        
        <label for="telefono">Teléfono</label>
        <input id="telefono" type="text" formControlName="telefono" />
        
        <label for="rol">Rol</label>
        <select id="rol" formControlName="Rol">
          <option value="usuario">Usuario</option>
          <option value="jugador">Jugador</option>
          <option value="entrenador">Entrenador</option>
        </select>
  
        <button type="submit">Registrar</button>
      </form>
    
      <hr />

    <div class="register-massive-container">
      <h3>Registro Masivo (CSV)</h3>
      <label for="csvFile">Selecciona archivo CSV</label>
      <input id="csvFile" type="file" (change)="onFileSelected($event)" accept=".csv" />
      <button type="button" (click)="uploadCSV()">Subir CSV</button>
    </div>
  </div>
</div>
  