<aside class="sidebar" *ngIf="equipo">
  <!-- HEADER -->
  <div class="sidebar-header">
    <img
      *ngIf="equipo.club?.escudo"
      [src]="'http://localhost:3000' + equipo.club.escudo"
      class="sidebar-escudo"
    />

    <h2>{{ equipo.nombre }}</h2>
    <p>{{ equipo.categoria?.nombre }} · {{ equipo.temporada?.nombre }}</p>
  </div>

  <!-- NAV -->
  <nav class="sidebar-nav">
    <a
      class="nav-item"
      [routerLink]="['/equipo', equipoId]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>dashboard</mat-icon>
      Resumen
    </a>

    <a
      class="nav-item"
      [class.active]="plantillaActiva"
      [routerLink]="['/equipo', equipoId, 'plantilla']"
    >
      <mat-icon>group</mat-icon>
      Plantilla
    </a>

    <a
      class="nav-item"
      [routerLink]="['/equipo', equipoId, 'calendario']"
      routerLinkActive="active"
    >
      <mat-icon>calendar_month</mat-icon>
      Calendario
    </a>

    <a class="nav-item" [routerLink]="['/equipo', equipoId, 'eventos']" routerLinkActive="active">
      <mat-icon>fitness_center</mat-icon>
      Eventos
    </a>

    <a
      class="nav-item"
      [routerLink]="['/equipo', equipoId, 'convocatorias']"
      routerLinkActive="active"
    >
      <mat-icon>event</mat-icon>
      Convocatorias
    </a>

    <a
      *ngIf="dni"
      class="nav-item"
      [class.active]="miFichaActiva"
      [routerLink]="['/equipo', equipoId, 'jugador', dni]"
    >
      <mat-icon>person</mat-icon>
      Mi ficha
    </a>
  </nav>
</aside>
